.black-nav {
  background : black;
  width : 100%;
  display : flex;
  color : white;
  padding : 20px;
}

.list {
  text-align : left;
  padding-left : 20px;
  border-bottom : 1px solid grey;
}

.modal{
  display: block;
  margin-top : 20px;
  padding : 20px;
  background : #eee;
  text-align : left;
  position: relative;
}

.searchBox{
  display: flex;
  margin: 20px auto;
  justify-content: center;
}

.search{
  margin-right: 10px;
}